// Primary
$color-soft-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);
$color-overlay: hsla(178, 100%, 50%, 0.4);

// Neutral
$color-bg: hsl(216, 54%, 11%);
$color-card-bg: hsl(215, 51%, 16%);
$color-blue-line: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);

$font-family: 'Outfit', sans-serif;
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;